set $cors "";

set $credentials "{{ .Env.NGINX_CORS_CREDENTIALS }}";

if ($request_method = 'OPTIONS') {
    set $cors "preflight";
}

#if ($request_method ~ GET|POST|PUT|PATCH|DELETE) {

if ($request_method != 'OPTIONS') {
    set $cors "request";
}

if ($http_origin) {
    set $cors "on_${cors}";
}

if ($cors = 'on_preflight') {
    add_header 'Access-Control-Allow-Credentials' "${credentials}" always;
    add_header 'Access-Control-Allow-Origin' '{{ .Env.NGINX_CORS_ORIGIN }}' always;
    add_header 'Access-Control-Allow-Methods' '{{ .Env.NGINX_CORS_METHODS }}' always;
    add_header 'Access-Control-Allow-Headers' '{{ .Env.NGINX_CORS_HEADERS }}' always;
    add_header 'Access-Control-Expose-Headers' '{{ .Env.NGINX_CORS_EXPOSE_HEADERS }}' always;
    add_header 'Access-Control-Max-Age' 1728000 always;
    add_header 'Content-Type' 'text/plain charset=UTF-8' always;
    add_header 'Content-Length' 0 always;
    add_header 'X-Request-ID' $x_request_id always;

    {{ .Env.NGINX_HEADER }}

    return 200;
}

if ($cors = 'on_request') {
    add_header 'Access-Control-Allow-Credentials' "${credentials}" always;
    add_header 'Access-Control-Allow-Origin' '{{ .Env.NGINX_CORS_ORIGIN }}' always;
    add_header 'Access-Control-Allow-Methods' '{{ .Env.NGINX_CORS_METHODS }}' always;
    add_header 'Access-Control-Allow-Headers' '{{ .Env.NGINX_CORS_HEADERS }}' always;
    add_header 'Access-Control-Expose-Headers' '{{ .Env.NGINX_CORS_EXPOSE_HEADERS }}' always;
    add_header 'X-Request-ID' $x_request_id always;

    {{ .Env.NGINX_HEADER }}

}
