server {

    listen      80;
    server_name {{ .Env.SSL_DOMAINS }};
    root        {{ .Env.WEBROOT_DIR }};
    index       {{ .Env.PHP_EXTENSION_INDEX_STRING }};
    charset     utf-8;

    include     /etc/nginx/common.d/*.conf;

    access_log  /var/log/nginx/access.log logformat{{ .Env.NGINX_ACCESS_LOG_LEVEL }};
    error_log   /var/log/nginx/error.log{{ .Env.NGINX_ERROR_LOG_LEVEL }};
    {{ replace .Env.ERROR_PAGE "\\n" "\n" -1 }}

    location ~ [^/]\.({{ .Env.PHP_EXTENSION_URL_REGEX }})(/|$)
    {
        {{ .Env.KEEPALIVE_OFF_STRING }}keepalive_timeout {{ .Env.KEEPALIVE_TIMEOUT }};
        {{ .Env.KEEPALIVE_OFF_STRING }}keepalive_requests {{ .Env.KEEPALIVE_REQUESTS }};

        include /etc/nginx/variables.conf;
        include /etc/nginx/cors.conf;

        #try_files $uri =404;

        if (!-f $document_root$fastcgi_script_name) {
            return 404;
        }

        fastcgi_pass {{ .Env.FASTCGI_PASS }};
        {{ .Env.KEEPALIVE_OFF_STRING }}fastcgi_keep_conn on;
        {{ replace .Env.NGINX_LOCATION "\\n" "\n" -1 }}
    }

    {{ replace .Env.NGINX_SERVER "\\n" "\n" -1 }}

}