server {

    listen      80;
    server_name {{ .Env.DOMAIN }};
    root        {{ .Env.WEBROOT }};
    index       index.html index.php index.htm;
    charset     utf-8;

    include     /etc/nginx/common.d/*.conf;

    access_log  /var/log/nginx/access.log logformat{{ .Env.NGINX_ACCESS_LOG_LEVEL }};
    error_log   /var/log/nginx/error.log{{ .Env.NGINX_ERROR_LOG_LEVEL }};

    location ~ [^/]\.php(/|$)
    {
        include /etc/nginx/variables.conf;

        {{ .Env.NGINX_HEADER }}

        include /etc/nginx/cors.conf;

        if (!-f $document_root$fastcgi_script_name) {
            return 404;
        }

        fastcgi_pass {{ .Env.FASTCGI_PASS }};
    }

    {{ .Env.NGINX_LOCATION }}

}
