server {

    listen      443 ssl;
    server_name {{ .Env.DOMAIN }};
    root        {{ .Env.WEBROOT }};
    index       {{ .Env.PHP_EXTENSION_INDEX_STRING }};
    charset     utf-8;

    include     /etc/nginx/common.d/*.conf;

    access_log  /var/log/nginx/access.log logformat{{ .Env.NGINX_ACCESS_LOG_LEVEL }};
    error_log   /var/log/nginx/error.log{{ .Env.NGINX_ERROR_LOG_LEVEL }};
    {{ .Env.ERROR_PAGE }}

    ssl_certificate /var/certs/{{ .Env.DOMAIN }}.crt;
    ssl_certificate_key /var/certs/{{ .Env.DOMAIN }}.key;

    location ~ [^/]\.({{ .Env.PHP_EXTENSION_URL_REGEX }})(/|$)
    {
        include /etc/nginx/variables.conf;
        include /etc/nginx/cors.conf;

        #try_files $uri =404;

        if (!-f $document_root$fastcgi_script_name) {
            return 404;
        }

        fastcgi_pass {{ .Env.FASTCGI_PASS }};
        {{ .Env.NGINX_LOCATION }}
    }

    {{ .Env.NGINX_SERVER }}
}
