[global]
daemonize = no

pid = /run/php-fpm.pid

; Log level
; Possible Values: alert, error, warning, notice, debug
; Default Value: notice
log_level = notice

{{ .Env.PHP_LOG_LIMIT_STRING }}
{{ .Env.PHP_LOG_BUFFERING_STRING }}

; Error log file
; If it's set to "syslog", log is sent to syslogd instead of being written
; in a local file.
; Note: the default prefix is /var
; Default Value: log/php-fpm.log
; error_log = /var/log/php/fpm.error.log;

; error_log = /proc/self/fd/2;
; fpm error log to filebeat
error_log = /var/log/php/fpm.error.log;

include=/etc/php/php-fpm.d/*.conf
