[www]

listen = {{ .Env.FPM_LISTEN }}
listen.owner = {{ .Env.FPM_USER }}
listen.group = {{ .Env.FPM_GROUP }}
listen.mode = 0666

user = {{ .Env.FPM_USER }}
group = {{ .Env.FPM_GROUP }}

pm = ondemand
pm.max_children = 100
pm.process_idle_timeout = 60
pm.max_requests = 500

;slow log to filebeat
;slowlog = /var/log/php/fpm.slow.log;
;request_slowlog_timeout = 0s

;if we send this to /proc/self/fd/1, it never appears
;/var/log/php/fpm.access.log
;access.log = /proc/self/fd/2;

;json.access.format = '{"type" : "php", "mode": "access", "fields": {"request_id": "%{HTTP_REQUEST_ID}e", "remote_addr": "%{REMOTE_ADDR}e", "request_scheme": "%{REQUEST_SCHEME}e", "remote_user": "%u", "request_date": "%t", "request_method": "%m", "request_uri": "%{REQUEST_URI}e", "qs": "%Q", "query_string": "%q", "status": %s, "filename": "%f", "request_time": %{seconds}d, "peak_memory": "%{mega}MM", "used_cpu" : "%{total}C%"}}'

;main.access.format = %{REMOTE_ADDR}e - %u %t "%m %{REQUEST_URI}e %Q%q" %s %f %{seconds}d %{mega}MM %C%%

php_admin_flag[log_errors] = on
php_admin_value[error_log] = /proc/self/fd/2
;php_admin_value[memory_limit] = 128M

php_admin_value[session.save_handler] = files
php_admin_value[session.save_path] = /var/lib/php/session

;pm = dynamic
;pm.max_children = 50
;pm.start_servers = 5
;pm.min_spare_servers = 5
;pm.max_spare_servers = 35
;pm.max_requests = 500
;ping.path = /ping

;Ensure worker stdout and stderr are sent to the main error log.
catch_workers_output = yes

security.limit_extensions = .php

{{ .Env.PHP_EXTRACONF }}
