server {

    listen      443 ssl;
    server_name {{ .Env.DOMAIN }};
    root        {{ .Env.WEBROOT }};
    index       index.html index.php index.htm;
    charset     utf-8;

    access_log  /var/log/nginx/access.log logformat;
    error_log   /var/log/nginx/error.log error;

    ssl_certificate /var/certs/{{ .Env.DOMAIN }}.crt;
    ssl_certificate_key /var/certs/{{ .Env.DOMAIN }}.key;

    include     /etc/nginx/common.d/*.conf;

    location ~ [^/]\.php(/|$)
    {
        if (!-f $document_root$fastcgi_script_name) {
            return 404;
        }
        include fastcgi_params;
        fastcgi_index                 index.php;
        fastcgi_split_path_info       ^(.+\.php)(/.+)$;
        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        {{ .Env.NGINX_HEADER }}
        {{ .Env.NGINX_CORS_CONFIG }}

        fastcgi_pass {{ .Env.FASTCGI_PASS }};
    }

    {{ .Env.NGINX_LOCATION }}

}
